@use "../setting" as *;

@mixin flex($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin img {
  object-fit: cover;
  background-position: 50%;
  position: relative;
  background-repeat: no-repeat;
}

@mixin pic {
  width: 100%;
  height: 100%;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@mixin d-style {
  content: "";
  display: block;
  width: 25px;
  background: #777777;
  height: 2.8px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}